In [ ]:
from pyspark.sql import (
    functions as f,
    SparkSession,
    types as t
)

spark = SparkSession.builder.appName("df_join").getOrCreate()

# user data
user_data = [
    ["1000", "Neville Hardy", "Apple"],
    ["2000", "Dacia Cohen", "Alphabet"],
    ["3000", "Elois Cox", "Neflix"],
    ["4000", "Junita Meyer", "Meta"],
    ["5000", "Cleora Banks", "Amazon"]]

user_col = ['id', 'name', 'company']
df_user = spark.createDataFrame(data=user_data, schema=user_col)
df_user.show()

# salary data
salary_data = [
    ["1000", "150000", "engineer"],
    ["2000", "240000", "manager"],
    ["3000", "120000", "human resource"],
    ["6000", "100000", "sales"]]

salary_col = ['id', 'salary', 'department']
df_salary = spark.createDataFrame(data=salary_data, schema=salary_col)
df_salary.show()

# # inner join: join the two dataframes on common key columns.
# # dataframe1.join(dataframe2,dataframe1.column_name ==  dataframe2.column_name,”inner”)
# print("== inner join ==")
# df_user.join(df_salary,
#                df_user.id == df_salary.id,
#                "inner").show()

# # inner join, then filter
# df_user.join(df_salary,
#                df_user.id == df_salary.id,
#                "inner").filter(df_user.id == 1000).show()

# # inner join, then where
# df_user.join(df_salary,
#                df_user.id == df_salary.id,
#                "inner").where(df_user.id == 1000).show()

# # multiple join with &
# df_user.join(df_salary,
#                (df_user.id == df_salary.id) & (df_user.id == 1000)
#             ).show()

# # full outer join: join the two dataframes with all matching and non-matching rows
# print("== full outer join ==")
# df_user.join(df_salary, 
#                df_user.id == df_salary.id, 
#                "fullouter").show()

# # left join:  joins by returning all rows from the first dataframe and only matched rows from the second one
# print("== left join ==")
# df_user.join(df_salary, 
#                df_user.id == df_salary.id, 
#                "left").show()

# # right join: joins by returning all rows from the second dataframe and only matched rows from the first one
# print("== right join ==")
# df_user.join(df_salary, 
#                df_user.id == df_salary.id, 
#                "right").show()

# # left semi join: join all rows from the first dataframe and return only matched rows from the second one
# print("== left semi join ==")
# df_user.join(df_salary, 
#                df_user.id == df_salary.id, 
#                "leftsemi").show()

# # left anti join: join returns only columns from the first dataframe for non-matched records of the second dataframe
# print("== left anti join ==")
# df_user.join(df_salary, 
#                df_user.id == df_salary.id, 
#                "leftanti").show()

# # SQL join
# df_user.createOrReplaceTempView("user")
# df_salary.createOrReplaceTempView("salary")

# spark.sql("SELECT * FROM user, salary WHERE user.id == salary.id").show()

# spark.sql("SELECT * FROM user INNER JOIN salary ON user.id == salary.id").show()